@model EditEntryViewModel

<h2>Edit Quantity</h2>

<form asp-action="Edit" asp-route-id="@Model.Id" method="post">
    <div class="form-group">
        <label asp-for="Quantity">Grams</label>
        <input asp-for="Quantity" class="form-control form-control-sm" style="width: 80px;" />
    </div>

    <button type="submit" class="btn btn-primary">Save Changes</button>
</form>