@model IEnumerable<Food>

<div class="list-group">
    @foreach(var food in Model)
    {
        <a type="btn btn-success" asp-controller="Food" asp-action="Detail" asp-route-id="@food.Id" class="list-group-item list-group-item-action">@food.Name</a>
    }
</div>