@using FoodLogger.Data.Models;
@model IEnumerable<Food>

<div class="list-group">
    @foreach(var food in Model)
    {
        <button type="button" class="list-group-item list-group-item-action">@food.Name</button>
    }
</div>