@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model DashboardViewModel

<h1 class="display-4 fw-normal">Your Dashboard</h1>
<div class="dashboard-buttons">
    <button class="btn btn-primary" id="foodsButton">Foods</button>
    <button class="btn btn-primary" id="recipesButton">Recipes</button>
    <a class="btn btn-primary" asp-area="" asp-controller="Food" asp-action="Create">Create Food</a>
    <a class="btn btn-primary" asp-area="" asp-controller="Recipe" asp-action="Create">Create Recipe</a>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="contentPlaceholder">
                <!-- Placeholder for the partial views -->
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            // Initial view: Load foods
            loadFoods();

            // Handle button clicks
            $("#foodsButton").click(function () {
                loadFoods();
            });

            $("#recipesButton").click(function () {
                loadRecipes();
            });

            function loadFoods() {
                $.ajax({
                    url: "/Food/GetFoodsPartial",
                    type: "GET",
                    success: function (data) {
                        $("#contentPlaceholder").html(data);
                    }
                });
            }

            function loadRecipes() {
                $.ajax({
                    url: "/Recipe/GetRecipesPartial",
                    type: "GET",
                    success: function (data) {
                        $("#contentPlaceholder").html(data);
                    }
                });
            }
        });
    </script>
}