@using Microsoft.AspNetCore.Identity
@inject SignInManager<AppUser> SignInManager

@model DashboardViewModel

<h1 class="display-4 fw-normal">Your Dashboard</h1>
<div class="dashboard-buttons">
    <button class="btn btn-primary" id="foodsButton">Foods</button>
    <button class="btn btn-primary" id="recipesButton">Recipes</button>
</div>
<div class="container">
    <div class="row">
        <div class="col-12">
            <div id="contentPlaceholder">
            </div>
        </div>
    </div>
</div>

@section scripts {
    <script>
        $(document).ready(function () {
            var urlParams = new URLSearchParams(window.location.search);
            var recipeAdded = urlParams.get('recipeAdded');

            if (recipeAdded) {
                loadRecipes();
            } else {
                loadFoods();
            }

            $("#foodsButton").click(function () {
                loadFoods();
            });

            $("#recipesButton").click(function () {
                loadRecipes();
            });

            function loadFoods() {
                $.ajax({
                    url: "/Food/GetFoodsPartial",
                    type: "GET",
                    success: function (data) {
                        $("#contentPlaceholder").html(data);
                    }
                });
            }

            function loadRecipes() {
                $.ajax({
                    url: "/Recipe/GetRecipesPartial",
                    type: "GET",
                    success: function (data) {
                        $("#contentPlaceholder").html(data);
                    }
                });
            }
        });
    </script>
}
